[v-cloak] {
    display: none !important;
}

body {
    background-color: #f0f0f0;
    height:auto;
}

.nav-logo{
    padding-left: 30px;
}

.nav-user{
    float: right;
}
.nav-user-name {
    margin-top: 10px;
    margin-right: 20px;
}

.content-body{
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
}

.content-body-result{
    padding: 10px 30px;
    background-color: white;
}

.content-body form{
    margin-top: 50px;
    margin-bottom:50px;
}

.content-body table {
    margin-top: 15px;
}

.player-item{
    width: 175px;
    /*height: 290px;*/
}

.player-item table{
    margin-top: 0px;
    width: 100%;
}

.player_lg_img{
    background-color: transparent;
    max-width: 175px;
    max-height: 175px;
}

.player-btn-del{
    width: 100%;
    border-radius: 0px;
}

.new-role{
    cursor: pointer;
    line-height: 40px;
    height: 40px;
    text-align: center;
    border: dashed 1px #bababa;
    color: #bababa;
}

.new-role:hover{
    line-height: 40px;
    height: 40px;
    text-align: center;
    border: dashed 1px #3b3b3b;
    color: #3b3b3b;
}

.group_item{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px #949494;
}

.group_item .item-input{
    width: 100px;
    border: 0px;
}

.btn-remove-group{
    background-color: transparent;
    color: #737772;
    border: 0;
}

.btn-remove-group:hover{
    background-color: #bfc3be;
    color: #474b47;
    border: 0px;
}

.result-playerList{
    margin-bottom:15px;
    /*border-right: 2px dashed rgb(220, 220, 220);*/
}

.result-playerList-rank{
    width: 50px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
}

.result-department-td{
    height: 30px;
    line-height: 30px;
}

.result-department-rank{
    margin: 0px 10px;
    font-size: 20px;
}

.result-department-name{
    margin:0px 10px;
    font-size: 15px;
}

.department-score-input{
    width: 100%;
    min-width: 100px;
}